/* SECTION 1 */

.sect1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  background-image: url(../asset/img/Colored\ Shapes.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.sect-card {
  display: inline-flex;
  padding: 2rem 0;
}
.sect-card h2 {
  font-family: "poppins";
  font-size: 2.5rem;
  text-shadow: 4px 4px 4px #3c4ef375;
}
.sect-card span {
  font-family: "poppins";
  font-size: 2.5rem;
  padding-left: 10px;
  animation: title-color 1s ease-in-out infinite alternate-reverse;
}
.cont-sect1 {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
}
.cont-sect1 .sect1-img {
  width: 40%;
  padding: 0 1rem;
}
.cont-sect1 .sect1-img img {
  width: 100%;
  background-color: #00000031;
}
.table {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.table table {
  width: 100%;
  border: 2px solid rgb(170, 125, 243);
}
.table table td {
  padding: 10px 10px 10px 15px;
  font-size: 1.2rem;
  text-align: left;
}
.table table .as {
  font-weight: 500;
}
.table table .call-name {
  text-align: center;
  background-color: #cdf5f0;
  font-size: 1.5rem;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgba(53, 50, 50, 0.201);
}
td,
tr {
  border: 1px solid black;
}

.btn-box {
  margin-top: 3rem;
  box-sizing: border-box;
}
.btn-box .butn-box {
  left: 10%;
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #bf0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #dedede;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
.btn-box .butn-box:hover::before {
  width: 1.6em;
  height: 1.6em;
}
.btn-box .butn-box::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgb(203, 216, 243) 0%,
    rgb(209, 212, 233) 50%,
    rgba(150, 4, 31, 1) 50%,
    rgba(191, 4, 38, 1) 60%
  );
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.btn-box .butn-box:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

/* pop up */

@keyframes title-color {
  0% {
    color: #e90b0b;
  }
  25% {
    color: #ee0cd0;
  }
  50% {
    color: #0011ff;
  }
  100% {
    color: #00ffdd;
  }
}

@media (max-width: 936px) {
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .cont-sect1 {
    flex-direction: column;
    align-items: center;
  }
  .cont-sect1 .sect1-img {
    width: 80%;
  }
  .cont-sect1 .table {
    width: 100%;
    margin-top: 2rem;
  }
  .cont-sect1 .table table td {
    padding: 5px 5px 5px 10px;
    font-size: 1.5rem;
  }
  .btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn-box .butn-box {
    left: 0;
    font-size: 1.9rem;
  }
}
