main {
  width: 100%;
  min-height: 110vh;
  display: flex;

  /* background-color: #302ae662; */

  background-image: url("../asset/img/Wave3.svg");
  background-color: #532ae638;
  background-repeat: no-repeat;
  background-position-y: 100%;
  position: relative;
  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 1) 85%,
    rgba(46, 63, 221, 0.007)
  );
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}
main .container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 4rem;
  box-sizing: border-box;
  position: fixed;
  top: 20%;
}
main .container .main-box {
  line-height: 1.4;
  width: auto;
}
main .container .main-box h1:nth-child(1) {
  font-family: "poppins-extrabolditalic";
  text-shadow: 4px 4px 6px #aa3cf39d;
}
.wrt-txt {
  display: inline-flex;
}
main .container .main-box .wrt-txt h1 {
  color: #0c0c0c;
  font-size: 1.8rem;
  font-family: "poppins-extrabolditalic";
}
main .container .main-box .wrt-txt .type-text {
  position: relative;
  font-size: 1.8rem;
  padding-left: 10px;
  font-family: "poppins-medium";
  color: #f3277c;
  text-shadow: 3px 3px 5px #aa3cf39d;
}

main .container .main-box .wrt-txt .type-text::after {
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #ff014f;
  animation: type 0.5s infinite;
}
main .container .main-box p {
  font-family: "poppins-medium";
  width: 60%;
  line-height: 1.2;
  text-shadow: 3px 3px 5px #aa3cf39d;
}

main .container .main-box .btn-main {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 3rem;
}
main .container .main-box .btn-main .button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

main .container .main-box .btn-main .button::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main .container .main-box .btn-main .btn1 {
  animation: btn-slide 1.5s infinite alternate-reverse;
}
main .container .main-box .btn-main .btn2 {
  animation: btn-slide-reverse 1.5s infinite alternate-reverse;
}
main .container .main-box .btn-main .button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

main .container .main-box .btn-main .button:hover::after {
  filter: blur(30px);
}

main .container .main-box .btn-main .button:hover::before {
  transform: rotate(-180deg);
}

main .container .main-box .btn-main .button:active::before {
  scale: 0.7;
}

main .container .main-img .card {
  width: 190px;
  height: 254px;
  transition: all 0.2s;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.815);
}

main .container .main-img .card .card-inner {
  width: inherit;
  height: inherit;
  background: rgba(114, 134, 223, 0.623);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  /*backdrop-filter: blur(10px);*/
  border-radius: 10px;
}
main .container .main-img .card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(35px);
}

main .container .main-img .card::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 198px;
  height: 262px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

main .container .main-img .card:hover {
  transform: scale(1.04) rotate(1deg);
}
main .container .main-img .card:hover::before {
  transform: rotate(-180deg);
}
main .container .main-img .card .circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  animation: move-up6 1.5s ease-in infinite alternate-reverse;
}

main .container .main-img .card .circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

main .container .main-img .card .circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes btn-slide {
  100% {
    transform: translateX(20px);
  }
}
@keyframes btn-slide-reverse {
  100% {
    transform: translateX(-20px);
  }
}
@keyframes type {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes move-up6 {
  to {
    transform: translateY(-20px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(20px);
  }
}

@media (max-width: 936px) {
  main .container .main-box .btn-main {
    width: 70%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  main .container {
    flex-direction: column-reverse;
    top: 13%;
    padding: 0;
  }
  main .container .main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    padding-top: 2rem;
  }

  main .container .main-box p {
    font-size: 1.1rem;
  }
  main .container .main-box .btn-main {
    width: 100%;
    padding: 1rem 2rem;
  }
}
